CEREBRAS_API_KEY=csk-5xr4x9eemwd5ckvhrjry6dvfmxjvdk4mkjmyece4693ppe48
CEREBRAS_MODEL=qwen-3.8-27b

TAVILY_API_KEY=your_tavily_api_key_here
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=fde-it-support-rag-minilm
PINECONE_NAMESPACE=company-it-kb

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
TOP_K=4
MAX_RETRIES=1
ADMIN_API_KEY=change-me-in-production
APP_ENV=development
